footer.footer
    .container-xl
        .row
            .col-xl-3.col-lg-3.col-md-3.col-sm-12.col-12.pad-left-0
                h3.footer-title Về chúng tôi
                ul.footer-list
                    li: a(href="#") Giới thiệu về công ty
                    li: a(href="#") Liên hệ hợp tác kinh doanh (B2B)
                    li: a(href="#") Danh sách cửa hàng
                    li: a(href="#") Tuyển dụng mới nhất
                    li: a(href="#") Hướng dẫn mua hàng Online
                    li: a(href="#") Hướng dẫn mua hàng trả góp
            .col-xl-3.col-lg-3.col-md-3.col-sm-12.col-12
                h3.footer-title Chính sách
                ul.footer-list
                    li: a(href="#") Chính sách bảo hành
                    li: a(href="#") Chính sách bán hàng
                    li: a(href="#") Chính sách bảo mật
                    li: a(href="#") Chính sách sử dụng
                    li: a(href="#") Chính sách kiểm hàng
                    li: a(href="#") Trung tâm bảo hành Apple tại Việt Nam
            .col-xl-3.col-lg-3.col-md-3.col-sm-12.col-12
                h3.footer-title Tổng đài hỗ trợ (Miễn phí)
                .contact
                    .contact-title Mua ngay:
                    .contact-phone 1800.6018
                .contact
                    .contact-title Bảo hành:
                    .contact-phone 1800.6729
                .contact
                    .contact-title Góp ý:
                    .contact-phone 1800.6306
                h3.footer-title.mt-3 Đối tác của chúng tôi
                .partner
                    a(href=""): img(src="/client/images/contact-1.svg" alt="").mr-2
                    a(href=""): img(src="/client/images/contact-2.svg" alt="")
            .col-xl-3.col-lg-3.col-md-3.col-sm-12.col-12.pr-0
                h3.footer-title Kết nối với chúng tôi
                ul.social
                    li: a(href="#"): img(src="/client/images/zalo.svg" alt="")
                    li: a(href="#"): img(src="/client/images/fb.svg" alt="")
                    li: a(href="#"): img(src="/client/images/ins.svg" alt="")
                    li: a(href="#"): img(src="/client/images/yt.svg" alt="")
                    li: a(href="#"): img(src="/client/images/tik.svg" alt="")
