extends ../../layouts/default.pug

block main 
    div.news
        div.container.news-detail
            div.row.mb-3
                div.col-12.d-flex.align-items-center
                    i.fa-solid.fa-newspaper.mr-1
                    div.news-title Tin tức

            div.row
                div.col-12
                    div.news-detail-title REDMI Turbo 4 và các đối thủ sẽ có pin 7.000mAh, ra mắt đầu năm 2025

                    div.new-detail-desc
                    p 
                        | Blogger nổi tiếng @digitalchatstation hôm nay đã đưa tin rằng mẫu máy tầm trung mới của iQOO sẽ được ra mắt 
                        | vào năm tới với pin 7.000mAh, thậm chí cao hơn, màn hình OLED 2K LTPS của Samsung và cảm biến vân tay siêu âm 3D.
                    p 
                        | Ngoài ra, ông cũng tiết lộ rằng Xiaomi và OnePlus cũng sẽ ra mắt điện thoại mới được trang bị pin 7.000 mAh 
                        | vào năm tới, tác giả cho rằng mẫu 
                        span REDMI Turbo 4 
                        | sẽ là ứng viên sáng giá.

                    div.news-detail-image
                        img(src="/client/images/redmi-turbo-4-va-cac-doi-thu-se-co-pin-7-000mah-2.jpg.webp" alt="")
                    div.news-image-desc REDMI Turbo 4 và các đối thủ sẽ có pin 7.000 mAh

                    div.new-detail-desc
                    p 
                        | Trong khi Realme đã tiết lộ điện thoại mới được trang bị pin 8.000mAh, nhưng chúng có thể sẽ không được triển khai.
                    p 
                        | Điện thoại di động Neo7 của Realme, sẽ ra mắt vào ngày 11 tháng 12, đã được xác nhận sẽ ra mắt pin Titan 7.000 
                        | mAh kết hợp với Ningde New Energy độc quyền nhằm tối ưu thời lượng sử dụng pin.
                    p 
                        | Dòng điện thoại di động Red Magic 10 Pro ra mắt năm nay sử dụng pin 7.050 mAh, sử dụng công nghệ pin cực dương 
                        | silicon carbon thế hệ mới và cũng hỗ trợ sạc nhanh gallium nitride 120W.

                    div.news-detail-image
                        img(src="/client/images/redmi-turbo-4-va-cac-doi-thu-se-co-pin-7-000mah-1.jpg.webp" alt="")
                    div.news-image-desc Red Magic 10 Pro ra mắt năm nay sử dụng pin 7.050 mAh

                    div.new-detail-desc
                    p 
                        | Ngoài ra, năm nay còn có nhiều điện thoại mới có dung lượng pin vượt quá 6.000 mAh, chẳng hạn như iQOO 13 được 
                        | trang bị pin Blue Ocean 6.150 mAh, Realme GT7 Pro được trang bị pin Titan 6.500 mAh và Xiaomi 15 Pro được trang 
                        | bị pin Jinshajiang 6.100mAh.

        