extends ../../layouts/default.pug

block main 
    div.news
        div.container
            div.row.mb-3
                div.col-12.d-flex.align-items-center
                    i.fa-solid.fa-newspaper.mr-1
                    div.news-title Tin tức
            div.row
                div.col-12
                    div.news-sub-title Tin công nghệ
                div.col-12
                    a.news-item(href="/news/detail/page-1")
                        div.news-image
                            img(src="/client/images/redmi-turbo-4-va-cac-doi-thu-se-co-pin-7-000mah.jpg.webp" alt="Image")
                        div.news-content
                            div.news-content-title REDMI Turbo 4 và các đối thủ sẽ có pin 7.000mAh, ra mắt đầu năm 2025
                            div.news-content-desc
                                | Blogger nổi tiếng @digitalchatstation hôm nay đã đưa tin rằng mẫu máy tầm trung mới của
                                | iQOO sẽ được ra mắt vào năm tới với pin 7.000mAh, thậm chí cao hơn, màn hình OLED 2K
                                | LTPS của Samsung và cảm biến vân tay siêu âm 3D. Ngoài ra, ông cũng tiết lộ...
                            div.news-info
                                div.news-user
                                    i.fa-solid.fa-circle-user.mr-1
                                    | Admin Mobile
                                div.news-date 16:47 9/12/2024
                                div.news-comment
                                    i.fa-solid.fa-message.mr-1 
                                    span 0
                                    i.fa-solid.fa-eye.ml-3.mr-1 
                                    span 1501
                div.col-12
                    a.news-item(href="")
                        div.news-image
                            img(src="/client/images/realme-neo7-se-dat-chuan-khang-nuo-ip68-ip69.jpg.webp" alt="Image")
                        div.news-content
                            div.news-content-title Realme Neo7 sẽ đạt chuẩn kháng nước IP68+IP69 cao cấp
                            div.news-content-desc
                                | Realme Neo7 sẽ được phát hành vào ngày 11 tháng 12. Hôm nay, một vị Giám đốc của thương
                                | hiệu này đã công bố một điểm nổi bật mới: Realme Neo7 hỗ trợ khả năng chống nước toàn
                                | diện IP68 + IP69. Realme Neo7 có thể kháng được nước nóng, bọt nước và...
                            div.news-info
                                div.news-user
                                    i.fa-solid.fa-circle-user.mr-1
                                    | Admin Mobile
                                div.news-date 13:37 9/12/2024
                                div.news-comment
                                    i.fa-solid.fa-message.mr-1 
                                    span 0
                                    i.fa-solid.fa-eye.ml-3.mr-1
                                    span 265
                div.col-12
                    a.news-item(href="")
                        div.news-image
                            img(src="/client/images/oneplus-ace-5-lo-anh-thuc-te-voi-vien-man-hinh-cuc-mong.jpg.webp" alt="Image")
                        div.news-content
                            div.news-content-title OnePlus Ace 5 lộ ảnh thực tế với viền màn hình cực mỏng
                            div.news-content-desc
                                | Tháng trước, OnePlus đã xác nhận rằng thị trường Trung Quốc sẽ nhận được dòng điện thoại
                                | thông minh OnePlus Ace 5 vào tháng 12. Thương hiệu này hiện đang dần hé lộ sự ra mắt của
                                | Ace 5 và Ace 5 Pro. Hôm nay, Li Jie, Chủ tịch OnePlus Trung Quốc, đã tiết lộ...
                            div.news-info
                                div.news-user
                                    i.fa-solid.fa-circle-user.mr-1
                                    | Admin Mobile
                                div.news-date 10:25 9/12/2024
                                div.news-comment
                                    i.fa-solid.fa-message.mr-1 
                                    span 0
                                    i.fa-solid.fa-eye.ml-3.mr-1 
                                    span 576
            
            div.row.mt-5
                div.col-12
                    div.news-sub-title Mở hộp & Đánh giá
                div.col-12
                    a.news-item(href="")
                        div.news-image
                            img(src="/client/images/danh-gia-redmi-k80-pro-8elite.jpg.webp" alt="Image")
                        div.news-content
                            div.news-content-title Đánh giá REDMI K80 Pro: Snapdragon 8 Elite - Đạt 2.930.823 điểm AnTuTu
                            div.news-content-desc 
                                | Cùng đánh giá REDMI K80 Pro, mẫu điện thoại giá bán rẻ nhất được trang bị siêu chip Snapdragon 8 Elite đã 
                                | trình làng cách đây ít ngày tại thị trường Trung Quốc và chắc chắn sẽ về hàng tại Việt Nam. Nếu bạn đang muốn 
                                | có cái nhìn cụ thể và đa chiều, nhiều khía...
                            div.news-info
                                div.news-user
                                    i.fa-solid.fa-circle-user.mr-1
                                    | Admin Mobile
                                div.news-date 10:06 06/12/2024
                                div.news-comment
                                    i.fa-solid.fa-message.mr-1
                                    | 0
                                    i.fa-solid.fa-eye.ml-3.mr-1
                                    | 602
                div.col-12
                    a.news-item(href="")
                        div.news-image
                            img(src="/client/images/danh-gia-redmi-k80-8gen3.jpg.webp" alt="Image")
                        div.news-content
                            div.news-content-title Đánh giá REDMI K80: Snapdragon 8 Gen 3 - Đạt 1.955.430 điểm AnTuTu
                            div.news-content-desc 
                                | Cùng đánh giá REDMI K80, mẫu điện thoại tầm trung mới được ra mắt, đại diện cho quyết tâm của Xiaomi nhằm 
                                | cạnh tranh với iQOO, Realme trong dịp mua sắp cận Tết cổ truyền. Liệu siêu phẩm này có đủ toàn diện đối với 
                                | nhu cầu của bạn? Câu trả lời chi ti...
                            div.news-info
                                div.news-user
                                    i.fa-solid.fa-circle-user.mr-1
                                    | Admin Mobile
                                div.news-date 16:01 03/12/2024
                                div.news-comment
                                    i.fa-solid.fa-message.mr-1
                                    | 0
                                    i.fa-solid.fa-eye.ml-3.mr-1
                                    | 578
                div.col-12
                    a.news-item(href="")
                        div.news-image
                            img(src="/client/images/tren-tay-iqoo-neo-10-pro-9400.jpg.webp" alt="Image")
                        div.news-content
                            div.news-content-title Trên tay iQOO Neo 10 Pro: Thiết kế độc đóa, giới trẻ có ưng?
                            div.news-content-desc 
                                | Cùng trên tay iQOO Neo 10 Pro, mẫu điện thoại tầm trung mới được ra mắt cách đây một vài ngày, đã cập bến 
                                | thị trường hàng xách tay Việt Nam. Không chỉ các fan iQOO, Vivo săn đón mà ngay cả những người dùng trung lập 
                                | cũng đặc biệt chú ý tới mẫu đi...
                            div.news-info
                                div.news-user
                                    i.fa-solid.fa-circle-user.mr-1
                                    | Admin Mobile
                                div.news-date 08:18 03/12/2024
                                div.news-comment
                                    i.fa-solid.fa-message.mr-1
                                    | 0
                                    i.fa-solid.fa-eye.ml-3.mr-1
                                    | 254

            div.row.mt-5
                div.col-12
                    div.news-sub-title Tư vấn chọn mua
                div.col-12
                    a.news-item(href="")
                        div.news-image
                            img(src="/client/images/so-sanh-redmi-k80-vs-iqoo-neo-10-dai-dien.jpg.webp" alt="Image")
                        div.news-content
                            div.news-content-title So sánh REDMI K80 vs iQOO Neo 10: K80 chỉ hơn thiết kế có IP68
                            div.news-content-desc 
                            | Mục lục So sánh REDMI K80 vs iQOO Neo 10 Hiệu năng tương đồng với cùng chip Pin khủng hơn, thua tốc độ sạc 
                            | Màn hình nét hơn, nhỏ và kém mượt hơn Camera giống nhau, thua về thuật toán Thiết kế cao cấp, nhỏ gọn hơn 
                            | Tổng kết Cùng so sánh REDMI ...
                            div.news-info
                                div.news-user
                                    i.fa-solid.fa-circle-user.mr-1
                                    | User
                                div.news-date 14:20 09/12/2024
                                div.news-comment
                                    i.fa-solid.fa-message.mr-1
                                    | 0
                                    i.fa-solid.fa-eye.ml-3.mr-1
                                    | 158
                div.col-12
                    a.news-item(href="")
                        div.news-image
                            img(src="/client/images/so-sanh-xiaomi-15-vs-realme-gt7-pro.jpg.webp" alt="Image")
                        div.news-content
                            div.news-content-title So sánh Xiaomi 15 vs Realme GT7 Pro: Kém hiệu năng hơn camera
                            div.news-content-desc 
                            | Mục lục So sánh Xiaomi 15 vs Realme GT7 Pro Hiệu năng Xiaomi kém hơn Xiaomi thua cả pin và sạc Màn hình không 
                            | quá khác biệt Camera máy nào tốt hơn? Thiết kế cao cấp, Realme kháng cả nước sôi Tổng kết Cùng MobileCity so 
                            | sánh Xiaomi 15 vs ...
                            div.news-info
                                div.news-user
                                    i.fa-solid.fa-circle-user.mr-1
                                    | User
                                div.news-date 09:33 03/12/2024
                                div.news-comment
                                    i.fa-solid.fa-message.mr-1
                                    | 0
                                    i.fa-solid.fa-eye.ml-3.mr-1
                                    | 137
                div.col-12
                    a.news-item(href="")
                        div.news-image
                            img(src="/client/images/dien-thoai-xiaomi-dang-mua-2024.jpg.webp" alt="Image")
                        div.news-content
                            div.news-content-title Top 10 điện thoại Xiaomi đáng mua nhất 2024
                            div.news-content-desc 
                            | Cùng điểm qua top điện thoại Xiaomi đáng mua nhất 2024 , với giá thành trải dài từ 2 tới 15 triệu đồng với cấu 
                            | hình vô cùng phong phú. Bạn muốn tìm một smartphone cấu hình mạnh nhất tầm giá, đầy đủ các trang bị thời 
                            | thương nhất. Vậy còn đợi gì mà không...
                            div.news-info
                                div.news-user
                                    i.fa-solid.fa-circle-user.mr-1
                                    | User
                                div.news-date 11:10 11/11/2024
                                div.news-comment
                                    i.fa-solid.fa-message.mr-1
                                    | 0
                                    i.fa-solid.fa-eye.ml-3.mr-1
                                    | 2627

