extends ../../layouts/default.pug 

block main 
    div.events
        div.container.events-detail
            div.row
                div.col-12.d-flex.align-items-center
                    i.fa-solid.fa-gift.mr-1
                    div.events-title Sự kiện

            div.row
                div.col-12
                    div.events-detail-title Quà tặng 1 tỷ đồng: thay Pin, thay Mặt kính, thay Màn hình GIÁ GỐC!
                    div.events-detail-info Ngày diễn ra: 00:00 10/06/2025 - 23:59 15/07/2025

                    div.events-detail-desc
                        p
                            | TeamNine Tri ân Quý Khách hàng đã đồng hành và ủng hộ TeamNine trong thời gian qua. Cửa
                            | hàng dành quà tặng tổng trị giá 
                            em 1.000.000.000 (Một tỷ đồng) 
                            | áp dụng cho Chương trình: thay Pin, thay Mặt kính, thay Màn hình điện thoại giá gốc! Nội dung chi tiết, 
                            | kính mời Quý khách theo dõi như sau:
                        p
                            span 1. Thời gian áp dụng:
                            |  từ 15-06-2025 đến 15-07-2025 - Vào thứ 2 đến thứ 5 hằng tuần.
                        p
                            span 2. Khách hàng áp dụng:
                            |  Tất cả khách hàng là: Người cao tuổi, các vị Lão thành cách mạng, Học sinh, Sinh viên, tài xế Xe công nghệ đã đăng ký vào danh sách bên dưới.
                        p
                            span 3. Sản phẩm áp dụng:
                            |  Các dịch vụ thay Pin, thay Mặt kính, thay Màn hình các mã iPhone 16 đến iPhone 16 Pro Max
                        p
                            em
                            |  Để đảm bảo chất lượng phục vụ Quý khách tốt nhất. Quý khách vui lòng điền thông tin theo
                            |  biểu mẫu bên dưới. Nhân viên CSKH sẽ liên hệ đặt lịch giúp Quý khách hàng!
                        p
                            span TeamNine Cảm ơn Quý khách và mong muốn Quý khách có trải nghiệm dịch vụ chất lượng tốt nhất!
                        p
                            |  Mọi thắc mắc cần giải đáp, Quý khách liên hệ chuyên viên kỹ thuật 
                            span Admin Mobile 
                            |  số điện thoại 
                            span 0968.686.686

                    div.events-table Bảng dịch vụ và giá gốc áp dụng cho Chương trình:
                    
                    table.table.table-bordered.events-detail-table
                        thead
                            tr
                                th STT
                                th Tên dịch vụ
                                th Giá gốc
                                th Giá ưu đãi
                        tbody
                            tr
                                td 1
                                td Thay Pin iPhone 16 Pro Max
                                td 420.000
                                td 300.000
                            tr
                                td 2
                                td Ép kính iPhone 16 Pro Max
                                td 450.000
                                td 350.000
                            tr
                                td 3
                                td Thay Màn hình iPhone 16 Pro Max
                                td 1.100.000
                                td 950.000
