extends ../../layouts/default.pug

block main 
    div.events
        div.container
            div.row
                div.col-12.d-flex.align-items-center
                    i.fa-solid.fa-gift.mr-1
                    div.events-title Sự kiện

            div.row
                div.col-12
                    a(href="/events/detail/page-1" class="events-item")
                        div.events-image
                            img(src="/client/images/thumbnail-sua-chua-gia-goc.jpg.webp" alt="")
                        div.events-content
                            div.events-content-title Quà tặng 1 tỷ đồng: thay Pin, thay Mặt kính, thay Màn hình GIÁ GỐC!
                            div.events-content-desc
                                | TeamNine Tri ân Quý Khách hàng đã đồng hành và ủng hộ TeamNine trong thời gian qua.
                                | Cửa hàng dành quà tặng tổng trị giá 1.000.000.000 (Một tỷ đồng) áp dụng cho Chương
                                | trình: thay Pin, thay Mặt kính, thay Màn hình điện thoại giá gốc! Nội dung chi tiết,...
                            div.events-info Ngày diễn ra: 00:00 10/06/2025

                div.col-12
                    a(href="" class="events-item")
                        div.events-image
                            img(src="/client/images/banner-tang-tecno-pova-3.jpg.webp" alt="")
                        div.events-content
                            div.events-content-title Events tháng 7: Tặng điện thoại Tecno POVA 3 - Pin khủng 7000mAh
                            div.events-content-desc
                                | Event tháng 7 tại TeamNine: Tặng Tecno POVA 3 trị giá 3tr950 Tặng Tecno POVA 3 Thời
                                | gian: 8h00 ngày 04/7/2025 đến 17h59 ngày 17/7/2025. Thể lệ: B1: Chia sẻ link event này
                                | lên tường Facebook dưới dạng công khai: "👉 TeamNine tặng điện thoại Tecno POVA...
                            div.events-info Ngày diễn ra: 00:00 04/07/2025

                div.col-12
                    a(href="" class="events-item")
                        div.events-image
                            img(src="/client/images/event-redmi-note11-thumb.png.webp" alt="")
                        div.events-content
                            div.events-content-title Events No.04: Tặng điện thoại Quốc Dân - Redmi Note 11 trị giá 3tr950
                            div.events-content-desc
                                | 👉 Tặng Redmi Note 11 trị giá 3tr950 👈 Thời gian: 8h00 ngày 22/4/2025 đến 17h59 ngày
                                | 29/4/2025. Thể lệ: B1: Chia sẻ link event này lên tường Facebook dưới dạng công khai:
                                | "👉 Tặng Redmi Note 11 trị giá 3tr950...
                            div.events-info Ngày diễn ra: 08:00 22/04/2025
